:root {
    --primary-color: #060A1E;
    --secondary-color: #5A4ADD;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.background-image {
    font-size: 1.6rem;
    color: var(--white-color);
    background-image: url('../img/confetti-doodles.svg');
    background-size: cover;
    background-position: center center;
}
h1, h2, h2, h4, h5, h6 {
    font-family: "Montserrat", serif;
    text-transform: uppercase;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 5.5rem;
}
h3 {
    font-size: 5rem;
}
h4 {
    font-size: 4.5rem;
}
h5 {
    font-size: 4rem;
}
h6 {
    font-size: 3.5rem;
}
a {
    display: block;
    text-decoration: none;
    color: inherit;
}
p {
    margin-bottom: 3rem;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table td, table th {
    padding: 0.75rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}
table tfoot, table th {
    background: var(--light-gray-color);
}
span {
    color: red;
}
.min-height {
    min-height: 10vh;
}
.white-background {
    background: var(--white-color);
    color: var(--primary-color);
    font-size: 1.6rem;
}
.menu {
    border-bottom: 0.1rem solid var(--light-gray-color);
    position: fixed;
    width: 100%;
    z-index: 1;
}
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}
.menu-content {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    padding-top: 0;
    padding-bottom: 0;
}
.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a {
    font-size: 1.8rem;
    padding: 2rem;
    position: relative;
}
.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}
.menu-spacing {
    height: 6.5rem;
}
.intro-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    align-items: center;
    min-height: 100vh;
}
.intro-text-content, .intro-image-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 2.5rem;
}
.intro-text-content h2 {
    font-size: 8rem;
    margin-bottom: 5rem;
}
.intro-image-content img {
    max-width: 100%;
    height: auto;
}
.top3-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}  
.text-container {
    width: 75%;
} 
.text-container article {
    text-align: center;
}
.text-container article h2 {
    margin-bottom: 5rem;
}
.top3-grid-content {
    display: flex;
    min-height: 100vh;
    flex-flow: nowrap column;
    justify-content: center;
}
.section-header {
    margin-bottom: 4rem;
}
.section-header h2{
    margin-bottom: 2rem;
}
.grid-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}
.grid-content article h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 6rem;
    margin-bottom: 3rem;
}
.grid-content article h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: 0rem;
    transform: rotate(5deg);
}
.gallery-grid-content {
    display: flex;
    min-height: 100vh;
    flex-flow: wrap column;
    justify-content: center;
}
.gallery-image {
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}
.gallery-image img {
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
}
.gallery-image img:hover{
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}
.responsive-table {
    overflow-y: auto;
}
.contact-form {
    grid-column: span 2;
}
.contact-form form legend{
    margin-bottom: 2.5rem;
    font-style: italic;
}
.contact-form form fieldset{
    border: none;
    display: flex;
    flex-flow: nowrap column;
}
.form-group{
    margin-bottom: 2.5rem;
}
.form-group input, textarea{
    width: 100%;
    margin-top: 0.75rem;
}
.form-group input, textarea::placeholder{
    color: var(--light-gray-color);
    font-size: 1.5rem;
    padding-left: 1rem;
}
.form-group input{
    height: 5rem;
}
.form-group textarea{
    height: 12.5rem;
}
.contact-form form fieldset legend + div{
    display: inherit;
    gap: 2rem;
}
.contact-form form fieldset legend + div > div{
    width: 100%;
}
@media (max-width: 800px) {
    .intro-content {
        grid-template-columns: 1fr !important;
    }
    .grid-content {
        grid-template-columns: 1fr;
    }
    .gallery-image {
        max-width: 100%;
    }
    .main-content h2 {
        font-size: 3.5rem;
    }
    .intro-content {
        grid-template-columns: 1fr !important;
    }
}
@media (min-width: 0px) and (max-width: 576px) {
    .main-content h2 {
        font-size: 3.5rem;
    }
}