:root {
    --primary-color: #060A1E;
    --secondary-color: #5A4ADD;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}
.background-image {
    font-size: 1.6rem;
    color: var(--white-color);
    background-image: url('../img/confetti-doodles.svg');
    background-size: cover;
    background-position: center center;
}
h1, h2, h2, h4, h5, h6 {
    font-family: "Montserrat", serif;
}
h1 {
    font-size: 6rem;
    text-transform: uppercase;
}
h2 {
    font-size: 5.5rem;
}
h3 {
    font-size: 5rem;
}
h4 {
    font-size: 4.5rem;
}
h5 {
    font-size: 4rem;
}
h6 {
    font-size: 3.5rem;
}
a {
    display: block;
    text-decoration: none;
    color: inherit;
}
.min-height {
    min-height: 100vh;
}
.white-background {
    background: var(--white-color);
}
.menu {
    border-bottom: 0.1rem solid var(--light-gray-color);
    position: fixed;
    width: 100%;
}
.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}
.menu-content {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    padding-top: 0;
    padding-bottom: 0;
}
.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a {
    font-size: 1.8rem;
    padding: 2rem;
    position: relative;
}
.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}
.menu-spacing {
    height: 6.5rem;
}
.intro-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    align-items: center;
    height: 100vh;
}
.intro-text-content, .intro-image-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 14rem;
}
.intro-text-content h2 {
    font-size: 8rem;
    margin-bottom: 5rem;
}
.intro-image-content img {
    max-width: 100%;
    height: auto;
}

